
$primary-color: hsl(322, 100%, 66%);
$dark_cyan: hsl(192, 100%, 9%);
$pale_blue: hsl(207, 100%, 98%);

$font-stack: 'Poppins', sans-serif;
$opens-sans: 'Open Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
